td.counter {
    cursor: pointer;
    text-align: right;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: center;
}

table {
  border-collapse: collapse;
}

table.minus {
    background-color: red;
}

table.zero {
    background-color: cyan;
}

th, td {
  padding: 0.5em;
}

.menu {
  overflow: hidden;
  background-color: #333;
}

.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.4em 0.7em;
  text-decoration: none;
  cursor: pointer;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}

.menu a.active {
  background-color: #4CAF50;
  color: white;
}

@media all and (min-width:30em) {
    * {
        font-size: 12pt;
    }
}

@media all and (max-width:30em) {
    .menu a {
        padding: 0.2em 0.4em;
        margin:0.4em auto;
    }

    * {
        font-size: 10pt;
    }
}
